<h1>StaticPages#test</h1>
<p>Find me in app/views/static_pages/test.html.erb</p>
<p><%= session[:edit_loc] %></p>
<p><%= session[:edit_loc] == 'change_password' %></p>
<p><%= controller.controller_name %></p>
<p><%= controller.action_name %></p>
<p><%= @test_string %></p>
<p><%= @valid_yale %></p>
