<% provide(:title, "Testing") %>

<h1>Test page</h1>

<p>Expecting residential college below:</p>
<p><%= @user.residential_college %></p>
<p><%= @user.residential_college_abbreviation %></p>

<p>Expecting class year below:</p>
<p><%= @user.class_year %></p>
<p><%= @user.class_year_abbreviation %></p>

<p>Overall</p>
<p><%= @user.college_and_year_abbreviation %>

<p>General info</p>
<p><%= @user.display_general_info %></p>

<%= @user.abbreviated_name %>

<p>Expecting a last_visited variable</p>
<p><%= @user.last_visited %></p>
