<div class="profile-pic-box">
  <%= link_to(user.profile_pic_image_tag(:search_size, "profile-pic-display"), user) %>
</div>
<div class="info-row-box">
  <div class="info-row"><%= link_to(user.abbreviated_name, user, :class => "display-name") %></div>
  <div class="info-row"><%= user.display_general_info %></div>
  <div class="info-row"><%= user.display_location %></div>
  <div class="info-row"><%= user.title %></div>
</div>
