<div class="profile-pic-box">
  <%= image_tag(user.profile_pic.url(:search_size), :class => "profile-pic-display") if user.profile_pic.present? %>
</div>
<div class="info-row-box">
  <div class="info-row"><%= link_to(user.name, user) %><%= user.display_general_info %></div>
  <div class="info-row"><%= user.display_location %></div>
  <div class="info-row"><%= user.title %></div>
</div>
