<% provide(:title, 'chainj OPW') %>

<h1>pls ed1t ur stuf</h1>
<p>Find me in app/views/user/new.html.erb</p>
<p>Probably needs fix0rz.</p>

<div class="row">
	<div class="span6 offset3">

		<%= form_for(@user) do |f| %>

			<%= label_tag :old_password %>
			<%= password_field_tag :old_password %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation %>

			<%= f.submit "save mah changes pls", :class => "btn btn-large btn-primary" %>

		<% end %>
		
	</div>
</div>
