<% provide(:title, 'Change Settings') %>

<h1>Change Settings</h1>

<div class="row">
	<div class="span6 offset3">

		<%= form_for(@user) do |f| %>
      <%= render 'user_error_messages' %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>
			
			<div class="check-box-with-text">
				<%= f.check_box :alum, :class => "cb" %>
				<%= f.label :alum, "I'm a YSC Alum!", :class => "lbl" %>
			</div>

			<%= f.submit "Save Changes", :class => "btn btn-large btn-primary" %>

		<% end %>
		
	</div>
</div>
