<% provide(:title, 'Change Password') %>

<h1>Change Password</h1>

<div class="row">
	<div class="span6 offset3">

		<%= form_for(@user) do |f| %>

			<%= label_tag :old_password %>
			<%= password_field_tag :old_password %>

			<%= render('user_password', :f => f) %>

			<%= f.submit "Save Changes", :class => "btn btn-large btn-primary" %>

		<% end %>
		
	</div>
</div>
