<% provide(:title, 'Update') %>

<h1>Update User Info</h1>

<div class="row">
	<div class="span6 offset3">

		<%= form_for(@user) do |f| %>

			<h4>Location Info</h4>

			<%= f.label :country %>
			<%= f.text_field :country %>

			<%= f.label :state %>
			<%= f.text_field :state %>

			<%= f.label :city %>
			<%= f.text_field :city %>

			<h4>Which topics would you willing to discuss with Yale students?</h4>

			<% # How would you do the "Other" topic? %>
			  
			<% @topics = @user.topics %>

      <% @topic_hash.each_pair do |k, v| %> 

        <div class="check_box_with_text">
				  <%= check_box_tag :"#{k.to_s}", v, !(@topics.find_by_content(v).nil?), class: "cb"%>
				  <%= label_tag :"#{k.to_s}", v, class: "lbl" %>
			  </div>

      <% end %>

			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>

		<% end %>
		
	</div>
</div>
