<% provide(:title, 'Update') %>

<h1>Update User Info</h1>

<div class="row">
	<div class="span6 offset3">
    
    <%= render('user_error_messages') %>
    
		<%= form_for(@user, :html => { :multipart => true }) do |f| %>
		
		  <div class="topic-info">
		  
		    <h4>Profile Picture</h4>
		    
		    <%= @user.profile_pic_url(:search_size, 'profile-pic-thumbnail') %>
		    
		    <%= f.file_field :profile_pic, :class => "has-hover-tooltip", :title => "Please upload an actual image that is portrait-style.  Otherwise it won't display properly!" %>
		    
		  </div>
 
      <div class="topic-info">

        <h4>General Info</h4>

        <%= f.label :class_year %>
        <%= f.text_field :class_year, :class => "has-focus-tooltip", :title => "Four digit year" %>

        <%= f.label :major, "Major(s)" %>
        <%= f.text_field :major, :class => "has-focus-tooltip", :title => "For searching's sake, please don't abbreviate =)" %>
        
        <%= f.label :title, "Title"  %>
        <%= f.text_field :title, :class => "has-focus-tooltip", :title => "e.g.: Software Engineer at Twitter" %>

        <%= f.label :description, "About You" %>
        <%= f.text_area :description, :rows => "10" %>

      </div>



	  	<div class="topic-info">

        <h4>Location Info</h4>

			  <%= f.label :city %>
			  <%= f.text_field :city, :class => "has-focus-tooltip", :title => "You must have a city in order to be searchable by location." %>

	  		<%= f.label :state, 'State / Province' %>
		  	<%= f.text_field :state %>

		 	  <%= f.label :country %>
			  <%= f.text_field :country %>

      </div>



			<div class="topic-info">

        <h4><br/>I'd be willing to talk with Yale students about:</h4>
			  
		  	<% @topics = @user.topics %>

        <% @topic_hash.each_pair do |k, v| %> 

          <div class="check-box-with-text">
			  	  <%= check_box_tag :"#{k.to_s}", v, !(@topics.find_by_content(v).nil?), :class => "cb" %>
		  		  <%= label_tag :"#{k.to_s}", v, :class => "lbl" %>
		  	  </div>

        <% end %>
        
        <div class="check-box-with-text">
            <%= check_box_tag :other_cb, '', !(@user.other_topic.blank?), :class => "cb" %>
            <%= label_tag :other_cb, 'Other:', :class => "lbl" %>
        </div>

        <%= f.text_field :other_topic %>

      </div>

			<%= f.submit "Save changes", :class => "btn btn-large btn-primary" %>

		<% end %>
		
	</div>
</div>
