<% provide(:title, 'Update') %>

<h1>Update User Info</h1>

<div class="row">
	<div class="span6 offset3">

		<%= form_for(@user) do |f| %>
 
      <div class="topic_info">

        <h4>General Info</h4>

        <%= f.label :class_year %>
        <%= f.text_field :class_year %>

        <%= f.label :major, "Major(s)" %>
        <%= f.text_field :major %>
        
        <%= f.label :title, "Title (e.g.: Software Engineer at Twitter)"  %>
        <%= f.text_field :title %>

        <%= f.label :description, "About You" %>
        <%= f.text_area :description, :rows => "10" %>

      </div>



	  	<div class="topic_info">

        <h4>Location Info</h4>
        
        <p>Note: You must have a city in order to be searchable by location.  It would be helpful if you inputted all fields.</p>

			  <%= f.label :city %>
			  <%= f.text_field :city %>

	  		<%= f.label :state %>
		  	<%= f.text_field :state %>

		 	  <%= f.label :country %>
			  <%= f.text_field :country %>

      </div>



			<div class="topic_info">

        <h4><br/>I'd be willing to talk with Yale students about:</h4>
			  
		  	<% @topics = @user.topics %>

        <% @topic_hash.each_pair do |k, v| %> 

          <div class="check-box-with-text">
			  	  <%= check_box_tag :"#{k.to_s}", v, !(@topics.find_by_content(v).nil?), :class => "cb" %>
		  		  <%= label_tag :"#{k.to_s}", v, :class => "lbl" %>
		  	  </div>

        <% end %>



        <% # Perhaps there is a cleaner way to do this: %>
        
        <div class="check-box-with-text">
            <%= check_box_tag :other_cb, '', !(@user.other_topic.blank?), :class => "cb" %>
            <%= label_tag :other_cb, 'Other:', :class => "lbl" %>
        </div>

        <%= f.text_field :other_topic %>

      </div>

			<%= f.submit "Save changes", :class => "btn btn-large btn-primary" %>

		<% end %>
		
	</div>
</div>
