<% provide(:title, 'All Users') %>

<h1>All users</h1>
  
<a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#search">
  <h3>Search for people</h3>
</a>


<div id="search" class="topic-info collapse">

  <%= form_tag users_url, :method => :get do %>

      <div class="topic-info">

        <h4>Search by distance</h4>

        <%= label_tag :search_distance, "Search within" %>
        <%= text_field_tag :search_distance, params[:search_distance], :class => "narrow-field has-focus-tooltip", :title => "Default is 50 miles." %>
        
        <%= label_tag :search_location, "miles of" %>
        <%= text_field_tag :search_location, params[:search_location], :class => "normal-field has-focus-tooltip", :title => "Enter a city, address, or place (like Beijing University)." %>

      </div>

      <div class="topic-info">

        <h4>Search by keyword</h4>

        <%= label_tag :search_fields, 'Search user fields' %>
        <%= text_field_tag :search_fields, params[:search_fields], :class => "normal-field has-focus-tooltip", :title => "For best results, use minimal punctuation, and avoid use of 'useless' words like 'a', 'an', 'the', etc." %>

      </div>

      <div class="topic-info">

        <h4>Sort by</h4>
        <p><%= select_tag(:sort_by, options_for_select(@sortable_fields, params[:sort_by]), :class => "normal-field normal-dropdown-menu") %></p>
        <p><%= select_tag(:search_type, options_for_select(@search_by_user_type, params[:search_type]), :class => "normal-field normal-dropdown-menu ") %></p>

      </div>
      
      <%= submit_tag "Search", :name => nil %>

  <% end %>

</div>

<% if @users.count == 0 %>

  Sorry... no results could be found.  Please modify your search.  Note that searching fields for very undescriptive values can result in unexpected behavior (i.e. no found results).

<% else %>

  <%= will_paginate %>
	  <div class="container users-table">
		  <% @users.each do |user| %>
		    <div class="container user-row">
			    <%= render('user_in_list', :user => user) %>
			  </div>
		  <% end %>
	  </div>
  <%= will_paginate %>
  
<% end %>
