<% provide(:title, 'Sign up nao') %>

<h1>pls registrar</h1>
<p>Find me in app/views/user/new.html.erb</p>

<div class="row">
	<div class="span6 offset3">

		<%= form_for(@user) do |f| %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation %>

			<div class="check_box_with_text">
				<%= f.check_box :alum, class: "cb" %>
				<%= f.label :alum, "I'm a YSC Alum!", class: "lbl" %>
			</div>

			<%= label_tag :church_comm %>
			<%= check_box_tag :church_comm %>

			<%= f.submit "Create my acct pl0x", class: "btn btn-large btn-primary" %>

		<% end %>

		<p>Already have an account?  Click <%= link_to("here", login_url) %> to login.</p>
		
	</div>
</div>