<% provide(:title, 'Sign up nao') %>

<h1>pls registrar</h1>
<p>Find me in app/views/user/new.html.erb</p>

<div class="row">
	<div class="span6 offset3">

		<%= form_for(@user) do |f| %>

			<h4>Please enter your basic information here.</h4>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation %>

			<div class="check_box_with_text">
				<%= f.check_box :alum, class: "cb" %>
				<%= f.label :alum, "I'm a YSC Alum!", class: "lbl" %>
			</div>

			<h4>What would you be willing to talk about?</h4>

			<div class="check_box_with_text">
				<%= check_box_tag :church_comm, 'no', false, class: "cb"%>
				<%= label_tag :church_comm, "Church and Community", class: "lbl" %>
			</div>

			<div class="check_box_with_text">
				<%= check_box_tag :voca_min, 'no', false, class: "cb"%>
				<%= label_tag :voca_min, "Vocational Ministry", class: "lbl" %>
			</div>

			<div class="check_box_with_text">
				<%= check_box_tag :finan_stew, 'no', false, class: "cb"%>
				<%= label_tag :finan_stew, "Financial Stewardship", class: "lbl" %>
			</div>

			<div class="check_box_with_text">
				<%= check_box_tag :miss_int_dev, 'no', false, class: "cb"%>
				<%= label_tag :miss_int_dev, "Missions and International Development", class: "lbl" %>
			</div>

			<div class="check_box_with_text">
				<%= check_box_tag :trial_dis, 'no', false, class: "cb"%>
				<%= label_tag :trial_dis, "Trials and Disappointment", class: "lbl" %>
			</div>

			<div class="check_box_with_text">
				<%= check_box_tag :career_changes, 'no', false, class: "cb"%>
				<%= label_tag :career_changes, "Career Changes", class: "lbl" %>
			</div>

			<div class="check_box_with_text">
				<%= check_box_tag :marriage, 'no', false, class: "cb"%>
				<%= label_tag :marriage, "Marriage", class: "lbl" %>
			</div>

			<div class="check_box_with_text">
				<%= check_box_tag :raise_child, 'no', false, class: "cb"%>
				<%= label_tag :raise_child, "Raising Young Children", class: "lbl" %>
			</div>

			<div class="check_box_with_text">
				<%= check_box_tag :raise_teen, 'no', false, class: "cb"%>
				<%= label_tag :raise_teen, "Parenting Teenagers", class: "lbl" %>
			</div>

			<div class="check_box_with_text">
				<%= check_box_tag :retirement, 'no', false, class: "cb"%>
				<%= label_tag :retirement, "Retirement", class: "lbl" %>
			</div>

			<%= f.submit "Create my acct pl0x", class: "btn btn-large btn-primary" %>

		<% end %>

		<p>Already have an account?  Click <%= link_to("here", login_url) %> to login.</p>
		
	</div>
</div>