<% provide(:title, "#{@user.name}"'s profile') %>
<%= @user.name %>, <%= @user.email %>
<ol>
	<%= render(@user.topics) %>
</ol>
<p><%= @user.latitude %>, <%= @user.longitude %></p>
<p><%= link_to("Send #{@user.name} an email", send_email_url(@user)) %></p>

<%= @user.profile_pic_image_tag(:show_size, '') %>
