<% provide(:title, 'Email') %>
<h1>Send an Email</h1>
<p>To: <%= @alum.abbreviated_name %>
<p>From: <%= current_user.email %></p>

<%= form_for(@email) do |f| %>

  <%= f.label :subject %>
  <%= f.text_field :subject %>

  <%= f.label :message %>
  <%= f.text_area :message %>

  <%= f.submit "Send Email", :class => "btn btn-large btn-primary" %>

<% end %>
